       /*  new CSS */

body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(hsl(50,80,95) 35%, hsl(300,40,80) 45%, hsl(230,30,80), hsl white 100%);
    overflow-x: hidden;
    width: 100%;
    }
  

.ersteSeite{
    display: flex;
    align-items: center;

}
.box{
    padding: 40px 30px;
    width: 100%;
    position: sticky;
    overflow: hidden
  }


.header{
    text-align: center;
    position: sticky;
    top: 0;
  }
a{
    color: #f8f6ff;
    text-shadow:0 0 8px rgb(165, 92, 243);
}

.quote{
    
   padding-left: 100px;
    text-align: justify;
    width: 300px;
    font-size: 10em;
}

.links{
    font-size: 4em;
    padding-left: 55%;
    margin-bottom: 300px;
}

.links2{
    font-size: 3em;
    padding-left: 35%;
    margin-bottom: 140px;

}

h1, h2{
    padding: 0;
    margin: 0;
    font-family: 'Anderson Grotesk', sans-serif;
    color: #ffecf7;
}

.starter-pic{
   margin-left: 50px;
   margin-top: 150px;
   margin-bottom: 50px;
}

.text{
    display: flex;
    font-size: 25px;
    color: rgb(36, 32, 33);
    padding: 15%;
    padding-left: 300px;
}

footer{
    padding: 20px;
    width: 100%;
    font-size: 18px;
    z-index: 19;
    overflow: hidden;
    background-color: black;
    margin-top: 70px;
    bottom: 0;
    height: 50px;
    position: fixed;
    
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    color: #f9f2f6;
    margin-left: 20px;
    margin-right: 50px;
  }

.glow{
    font-size: 30px;
    text-shadow:0 0 30px rgb(255, 98, 224);
}

.pictures{
    margin-left: 15vw;
    margin-top: 150px;
}
    
.quote{
    font-size: 30px;
    justify-content: center;
    padding-left: 40%;
}


.quote:hover{
    text-shadow: 1px 1px 5px rgb(236, 195, 204);
}

/* seitliche nav bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
    align-items: center;
    transition: background-color 0.2s;
  }
  
  .navbar a:hover {
    background-color: #575757;
  }
  